<ul>
    {%- if collections[collectionName] | length > 0 -%}
        {%- for post in collections[collectionName] -%}
            <article>
                <a href="{{ post.url }}">
                    <li>
                        {% if post.data.date %}
                            <div>{{ post.data.date | readableDate }}</div>
                        {% endif %}
                        <h3>{{ post.data.title }}</h3>
                        <p>{{ post.data.description }}</p>
                    </li>
                </a>
            </article>
        {%- endfor -%}
    {%- endif -%}
</ul>