/* Defaults */
:root {
    --font-family: Helvetica, Arial, -apple-system, system-ui, sans-serif;
    --font-family-monospace: Menlo, Consolas, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
}

/* Theme colors */
:root {
    --color-background: #ffffff;
    --color-background-highlight: #cfcfcf;
    --color-foreground: #252525;
    --color-accent: #3d00a7;
    --color-muted: #525252;
    --color-border: #858585;

    --color-title: #bba487;
    --color-menu-items: #858585;
    --color-border-bar: #323232;
    --color-border-muted: #323232;

    --color-h2: #9087b5;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: #252525;
        --color-background-highlight: #2d2d2d;
        --color-foreground: #d9d9d9;
        --color-accent: #3d00a7;
        --color-muted: #999999;
        --color-border: #858585;

        --color-title: #bba487;
        --color-menu-items: rgb(189 189 189);
        ;
        --color-border-bar: rgb(108, 108, 108);
        --color-border-muted: #323232;
        /* change! */

        --color-h2: #9087b5;
    }
}

@view-transition {
	navigation: auto;
}

/* Global stylesheet */
* {
    box-sizing: border-box;
}

html,
body {
    background: var(--color-background);
    color: var(--color-foreground);
    /* padding: 0 24px; */
    margin: 0;
    /* height: 100vh; */
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: var(--font-family);
}

html {
    overflow-y: scroll;
}

body {
    display: flex;
    max-width: 45em;
    margin: 0 auto;
    padding: 2em;
    min-height: 100vh;
    flex-direction: column;
}

body > main {
    flex: 1;
}

body > main > .intro {
    margin: 0em 0 5em 0;
    padding-right: 14px;
    text-align: right;
    letter-spacing: 1px;
}

h1,
h2 {
    color: var(--color-foreground);
}

h3 {
    color: var(--color-h2);
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
}

/* 
@media (max-width: 768px) {
    body {
        font-size: 16px;
        padding: 0 8px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
        padding: 0 4px;
    }
} */

/* END global styles */

/* navigation */
nav {
    border-right: 7px var(--color-border-bar) solid;
    padding-right: 10px;
    text-align: left;
    color: rgb(108, 108, 108);
    margin: 4rem 0 2rem 0
}

nav div {
    width: fit-content;
    text-align: right;
}

nav h1 {
    margin: 0;
    text-align: left;
    font-size: 1.8rem;
    color: var(--color-title);
}

nav ul {
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    color: var(--color-menu-items);
}

nav ul li a {
    text-decoration: none;
    text-transform: lowercase;
    font-size: 0.9em;
    color: inherit;
    letter-spacing: 0.12rem;
}

nav ul li a:hover {
    text-decoration: underline;
}

span.nav-separator {
    font-size: 0.8rem;
    vertical-align: middle;
}

span.nav-separator:before {
    content: '//';
    padding: 0 5px;
    /* line-height: ; */
    vertical-align: middle;
}

/* END navigation */

/* main content */
main section.posts {

}

main section.posts ul {
    padding: 0;
}

main section.posts ul article {
    margin: 1em 0;
}

main section.posts ul li {
    padding: 0.4em;
}

main section.posts ul li div {
    color: var(--color-muted);
    font-size: 0.9em;
}

main section.posts ul article li:hover {
    /* border-right: 7px var(--color-border-bar) solid; */
    /* box-shadow: inset -7px 0 0 -9px #2d2d2d; */
    background-color: var(--color-background-highlight);
}

main section.posts ul article p,
main section.posts ul article h3 {
    margin: 0;
}

main section.posts ul article p {
    margin-top: 0.3em;
}


main section.posts ul li {
    list-style-type: none;
}

/* END main content */

/* footer */
footer {
    color: var(--color-menu-items);
    font-size: 0.8em;
    /* letter-spacing: 0.12rem; */
}

footer hr {
    border: none;
    height: 2px;
    background-color: #323232;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline;
    text-decoration: none;
    text-transform: lowercase;
}

footer ul li:last-child {
    float: right;
}

/* END footer */