/* Defaults */
:root {
    --font-family: Helvetica, Arial, -apple-system, system-ui, sans-serif;
    --font-family-monospace: Menlo, Consolas, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
}

/* Theme colors */
:root {
    --color-background: #ffffff;
    --color-background-highlight: #f1f1f1;
    --color-foreground: #373737;
    --color-accent: #3d00a7;
    --color-muted: #676767;
    --color-border: #858585;

    /* --color-title: #bba487; */
    --color-title: #276a8e;
    --color-menu-items: #858585;
    --color-border-bar: var(--color-title);
    --color-border-muted: #504a5b;

    --color-headings: #252525;
    --color-h2: #504a5b;
    --color-h3: #63567e;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: #252525;
        --color-background-highlight: #2d2d2d;
        --color-foreground: #dcdcdc;
        --color-accent: #3d00a7;
        --color-muted: #a5a5a5;
        --color-border: #858585;

        /* --color-title: #bba487; */
        /* --color-title: #276a8e; */
        --color-title: #987db0;
        --color-menu-items: rgb(189 189 189);
        /* --color-border-bar: rgb(108, 108, 108); */
        /* --color-border-bar: #276a8e; */
        --color-border-bar: #987db0;
        --color-border-muted: #323232;
        /* change! */

        --color-headings: #fbfbfb;
    }
}

@view-transition {
    navigation: auto;
}

/* Global stylesheet */
* {
    box-sizing: border-box;
}

html,
body {
    background: var(--color-background);
    color: var(--color-foreground);
    /* padding: 0 24px; */
    margin: 0;
    /* height: 100vh; */
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: var(--font-family);
}

html {
    overflow-y: scroll;
}

body {
    display: flex;
    max-width: 45em;
    margin: 0 auto;
    padding: 2em;
    min-height: 100vh;
    flex-direction: column;
}

body>main {
    flex: 1;
    margin-bottom: 1em;
}

body>main>div.intro {
    margin-right: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

body>main>div.intro>p {
    margin-left: auto;
    line-height: 1.5em;
    text-align: right;
    letter-spacing: 1px;
    color: var(--color-muted);
}

h1,
h2 {
    color: var(--color-headings);
}

h3 {
    color: var(--color-headings);
}

img {
    max-width: 100%;
    height: auto;
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
}

/* 
@media (max-width: 768px) {
    body {
        font-size: 16px;
        padding: 0 8px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
        padding: 0 4px;
    }
} */

/* END global styles */

/* navigation */
nav {
    border-right: 7px var(--color-border-bar) solid;
    padding-right: 10px;
    text-align: left;
    color: rgb(108, 108, 108);
    margin: 4rem 0 2rem 0
}

nav div {
    width: fit-content;
    text-align: right;
}

nav h1 {
    margin: 0;
    text-align: left;
    font-size: 1.8rem;
    color: var(--color-title);
}

nav ul {
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    color: var(--color-menu-items);
}

nav ul li a {
    text-decoration: none;
    text-transform: lowercase;
    font-size: 0.9em;
    color: inherit;
    letter-spacing: 0.12rem;
}

nav ul li a:hover {
    text-decoration: underline;
}

span.nav-separator {
    font-size: 0.8rem;
    vertical-align: middle;
}

span.nav-separator:before {
    content: '//';
    padding: 0 5px;
    /* line-height: ; */
    vertical-align: middle;
}

/* END navigation */

/* main content */
main .postlist {}

main .postlist ul {
    padding: 0;
    margin: 0 1em;
}

main .postlist ul article {
    margin: 1em 0;
}

main .postlist ul li {
    padding: 0.4em;
}

/* main section.posts ul li div {
    color: var(--color-muted);
    font-size: 0.9em;
} */

main .postlist ul article li:hover {
    /* border-right: 7px var(--color-border-bar) solid; */
    /* box-shadow: inset -7px 0 0 -9px #2d2d2d; */
    background-color: var(--color-background-highlight);
    transition: background 0.15s ease-in-out;

}

main .postlist ul article p,
main .postlist ul article h3 {
    margin: 0;
}

main .postlist ul article p {
    margin-top: 0.3em;
}


main .postlist ul li {
    list-style-type: none;
}

.post-date {
    color: var(--color-muted);
}

main .postlist ul li .postlist-date {
    font-size: 0.9em;
    margin: 0 0 0.3em 0;
}

.postlist-desc {
    line-height: 1.5em;
}

/* END main content */

/* blog posts */
.blog-post {
    margin: 1.5em 1em 2em 1em;
}

.blog-post p,
.blog-post .footnotes {
    line-height: 1.5em;
}

.blog-post .footnotes-list {
    padding: 0 1em 0 2em;
}

.blog-post ol,
.blog-post ul {
    line-height: 1.5em;
}

.blog-post picture+em {
    font-size: 0.8em;
}

.blog-post blockquote {
    border-left: 7px var(--color-border-bar) solid;
    margin-left: 1em;
    padding-left: 1em;
}

.blog-post p:has(cite) {
    font-style: italic;
    text-align: right;
}

.blog-post p:has(cite):before {
    content: '— ';
}

.blog-post .footnote-ref {
    color: var(--color-border-bar);
}

/* fix line spacing introduced by superscript */
.blog-post sup {
    line-height: 0;
}

.blog-post .footnotes {
    color: var(--color-muted);
    font-size: 0.9rem;
}

.blog-post .footnotes a {
    text-decoration: underline;
}

.blog-post hr {
    margin: 0 0.5em;
}

/* END blog posts */

/* portfolio */
.portfolio {
    line-height: 1.5em;
}

.portfolio h1,
.portfolio h2,
.portfolio h3 {
    margin-bottom: 0.5em;
}

.portfolio ul {
    padding: 0;
    margin: 0em 0em 1em 0em;
}

.portfolio ul li {
    list-style-type: none;
    margin: 0em 0em 2em 1em;
}

/* END portfolio */

/* about */
.about {
    line-height: 1.5em;
}

/* END about */

/* footer */
footer {
    color: var(--color-menu-items);
    font-size: 0.8em;
    /* letter-spacing: 0.12rem; */
}

hr {
    border: none;
    height: 1px;
    background-color: var(--color-border-bar);
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline;
    text-decoration: none;
    text-transform: lowercase;
}

footer ul li:last-child {
    float: right;
    color: var(--color-border-bar);
}

/* END footer */