---
layout: base.njk
title: Contact
---

<h1>{{ title }}</h1>
<section class="contact">
    <form action="https://api.web3forms.com/submit" method="POST">
        <input type="hidden" name="access_key" value="eef2e3d6-d584-48e8-9aaa-c12440298140">
        <input type="hidden" name="subject" value="New message from sndrsn.com">
        <input type="hidden" name="redirect" value="https://www.sndrsn.com/contact/thanks/">

        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>

        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>

        <label for="message">Message</label>
        <textarea id="message" name="message" rows="6" required></textarea>

        <button type="submit">Send</button>
    </form>
</section>
