---
layout: base.njk
title: sndrsn.com
collectionName: recentPosts 
---

<p class="intro">I'm an experimental musician, programmer, and sound designer.<br/> I make soundscape compositions, field recordings, and instruments.
</p>
<h2>Recent Posts</h2>
<section class="posts">
  {% include 'src/_includes/postlist.njk' %}
  <a href="/posts">More posts...</a>
</section>