---
layout: base.njk
title: sndrsn.com
collectionName: recentPosts 
---
<div class="intro">
  <p>I'm an experimental musician, programmer, and sound designer based in Cork, Ireland. I make soundscape compositions, field recordings, and instruments.
</div>
</p>
<h2>Recent Posts</h2>
<section class="postlist">
  {% include 'src/_includes/postlist.njk' %}
  <a href="/posts">More posts...</a>
</section>