---
layout: base.njk
title: Portfolio
---

<h1>{{ frontmatter.title }}</h1>
<section class="portfolio">
    <section>
        <h2>Upcoming</h2>
        <ul>
            <li>2024
                <em>Source</em>. A collaboration with Dr. Jess Franklin for Feile na Bealtaine, Dingle, Co. Kerry.</li>
        </ul>
    </section>
    <section>
        <h2>Works</h2>
        <ul>
            <li>2022
                <em>Ghost Ship</em>, selected for River Shannon Soundwalk as part of ICMC 2022, in association with ISSTA, University of
                    Limerick, Ireland.</li>
            <li>2019
                <em>Chiming Twelve</em>, collaboration with a group of eight artists as part of a week-long workshop “Let Your Lone
                    Ranger Ride” delivered by Bill Drummond at CampFR, Aulus Les Bains, France.</li>
        </ul>
    </section>
    <section>
        <h3>Other</h3>
        <ul>
            <li>2022
                <em>Eufonix</em>, sonification of microservice deployment data using a Python script developed as part of a hackathon at
                    Genesys, Galway, Ireland.</li>
        </ul>
    </section>
    <section>
        <h2>Recent Performances</h2>
        <ul>
            <li>2024
                John Cage's
                <em>Four6</em>, including improvised performance at The Guesthouse, Cork, Ireland. Performed with Conor Bourgal, Jonathan Crean, Jordan Kenny, Brice Mayfire, and Lucia Whelan, as <em>Kev Meets Bus</em></li>
            <li>2024
                <em>Earwicker III</em>, collaborative performance with Mick O'Shea, Billy Kemp, and Alexander Tschudin, at The Guesthouse, Cork, Ireland.</li>
            <li>2023
                <em>Mother's Hair Quilt</em>, collaborative performance with Andy Ingamells, at Maureen's, Cork, Ireland.</li>
        </ul>
    </section>
</section>