---
layout: base.njk
title: Portfolio
---

<h1>{{ frontmatter.title }}</h1>
<section class="portfolio">
    {# <section>
        <h2>Upcoming</h2>
        <ul>
            <li>2026
                
            <li>
        </ul>
    </section> #}
    <section>
        <h2>Works</h2>
        <ul>
            <li>2025
                <p>
                    <a href="https://feilenabealtaine.ie/events/source-with-dr-jess-franklin-kevin-sanderson-of-the-school-of-biological-earth-and-environmental-science-ucc/"><em>Source</em></a> is an immersive sound installation inspired by the research of geologist Dr. Jess Franklin which investigates the provenance of ancient sandstones, developed for <em>Féile na Bealtaine</em>, Dingle, Co. Kerry. Her work unravels the history of their individual sand grains, from weathering through to transport, deposition, and burial. Developed in collaboration with sound artist Kevin Sanderson, this installation simulates the enormity of geological time, serving as a sonic narrative that traces the long journey of sand grains and the complex processes which form our natural landscapes.
                </p>
                <p>
                    <a href="https://feilenabealtaine.ie/events/return-to-source-fieldtrip/"><em>Return to Source</em></a> is a unique field trip led by geologist Jess Franklin and sound artist Kevin Sanderson. During this interactive event we blend informed exploration of the local geology with sound meditations to enable us to slow down, tune in, and rediscover the ancient narratives hidden in the rocks.
                <p>
            </li>
            <li>2022
                <em>Ghost Ship</em>, selected for River Shannon Soundwalk as part of ICMC 2022, in association with ISSTA, University of
                    Limerick, Ireland.
            <li>
            <li>2019
                <em>Chiming Twelve</em>, collaboration with a group of eight artists as part of a week-long workshop “Let Your Lone
                    Ranger Ride” delivered by Bill Drummond at CampFR, Aulus Les Bains, France.
            </li>
        </ul>
    </section>
    <section>
        <h3>Other</h3>
        <ul>
            <li>2022
                <em>Eufonix</em>, sonification of microservice deployment data using a Python script developed as part of a hackathon at
                    Genesys, Galway, Ireland.
            </li>
        </ul>
    </section>
    <section>
        <h2>Recent Performances</h2>
        <ul>
            <li>2024
                <em>Earwicker III</em>, collaborative performance with Mick O'Shea, Billy Kemp, and Alexander Tschudin, at The Guesthouse, Cork, Ireland.</li>
            <li>2024
                John Cage's
                <em>Four6</em>, including improvised performance at The Guesthouse, Cork, Ireland. Performed with Conor Bourgal, Jonathan Crean, Jordan Kenny, Brice Mayfire, and Lucia Dwyer.</li>
            <li>2023
                <em>Mother's Hair Quilt</em>, collaborative performance with Andy Ingamells, at Maureen's, Cork, Ireland.</li>
        </ul>
    </section>
    <section>
        <h2>Tracks from SoundCloud</h2>
        <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1837331709&color=%23276a8e&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/ksndrsn" title="Kevin Sanderson" target="_blank" style="color: #cccccc; text-decoration: none;">Kevin Sanderson</a> · <a href="https://soundcloud.com/ksndrsn/sets/tracks" title="Tracks" target="_blank" style="color: #cccccc; text-decoration: none;">Tracks</a></div>
    </section>
</section>